<form action="/assets" method="POST">
  <input type="text" name="asset[name]" value="dog" />
  <input type="text" name="asset[alt]" value="a dog" />
  <input type="text" name="asset[description]" value="a picture of a dog" />
  <input type="text" name="asset[file_type]" value="img" />
  <input type="text" name="asset[width]" value="200" />
  <input type="text" name="asset[height]" value="200" />
  <input type="text" name="asset[resolution]" value="72" />
  <input type="text" name="asset[device]" value="iphone" />
  <input type="text" name="asset[is_readable]" value="false" />
  <input type="submit" value="Go" />
</form>
